<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <h1>简单记事本</h1>
        <input type="text" v-model="inputValue" @keyup.enter="add">
        <ol>
            <li v-for="item,index in inputArr">
                {{item}}
            </li>
        </ol>
        <div>
            <span>{{inputArr.length}}left</span>
            <input type="button" value="删除所有" @click="deleteAll">
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        var app = new Vue({
            el: "#app",
            data: {
                inputValue: "",
                inputArr: []
            },
            methods: {
                add() {
                    if (this.inputValue !== "") {
                        this.inputArr.push(this.inputValue).call(this.inputValue = "")
                    } else {
                        alert("输入正确值！")
                    }
                },

                deleteAll() {
                    this.inputArr = []
                }
            }
        })

    </script>

</body>

</html>